.git
.dockerignore

.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

__pycache__/
*.py[cod]
*$py.class

.spyderproject
.spyproject

*.sage.py

__pypackages__/

.python-version

*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

.eggs/

tmp
dev
.github
.gitignore
