[tool.poetry]
name = "zshpower"
version = "0.2.6"
description = "ZSHPower is a theme with a manager for the Oh My ZSH framework."
readme = "README.rst"
authors = ["William C. Canin <william.costa.canin@gmail.com>"]
license = "MIT"
keywords=["zsh-theme", "snakypy", "zsh", "theme", "power"]
homepage = "https://github.com/snakypy/zshpower"
repository = "https://github.com/snakypy/zshpower"
include = ["LICENSE", "CHANGELOG.rst"]

classifiers = [
    "Intended Audience :: Developers",
    "License :: OSI Approved :: MIT License",
    "Operating System :: POSIX :: Linux",
    "Operating System :: MacOS :: MacOS X",
    "Operating System :: Unix",
    "Programming Language :: Python :: 3"
]

packages = [
    { include = "zshpower" }
]

[tool.poetry.scripts]
zshpower = "zshpower.cli:main"
zshpower-shell = "zshpower.prompt:main"

[tool.poetry.urls]
"Bug Tracker" = "https://github.com/snakypy/zshpower/issues"

[tool.poetry.dependencies]
python = "^3.8"
snakypy = "^0.3.5"
docopt = "^0.6.2"
tomlkit = "^0.5.11"
fastentrypoints = "^0.12"

[tool.poetry.dev-dependencies]
twine = "^3.1.1"
wheel = "^0.34.2"
flake8 = "^3.7.9"
black = "^19.10b0"
tox = "^3.14.5"
pytest = "^5.3.5"
eqversion = "^0.1.3"

[build-system]
requires = ["poetry>=0.12", "fastentrypoints"]
build-backend = "poetry.masonry.api"
